<ion-header no-border no-shadow>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>Toolbar Title</ion-title> -->
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>


    <form [formGroup]="form" class="my-form">
        <div class="forms">

            <div class="form">

                <!-- <ion-icon name="arrow-round-back" class="ico" (click)="ico()"></ion-icon> -->

                <br><br>
                <div class="profile-image">
                    <div>
                        <!-- <img src="/assets/img/avatar.svg"> -->
                        <div *ngIf="urlPath =='' ">
                            <img src="/assets/img/avatar.svg">

                        </div>
                        <div *ngIf="urlPath !='' ">
                            <img data-src="{{urlPath}}" (click)="zoom(user)">
                            <!-- <div *ngIf="(uploadPercent | async ) >0 && (uploadPercent | async ) !=''"> -->

                        </div>
                    </div>

                    <div class="image-upload">
                        <ion-fab horizontal="center" vertical="top" class="fab" size="small">
                            <ion-fab-button color="lightb">
                                <ion-icon name="camera" class="input" color="medium"> </ion-icon>
                            </ion-fab-button>
                            <ion-fab-list side="start">
                                <ion-fab-button color="warning">
                                    <ion-icon name="camera" color="light" (click)="pickImage()" class="camera"> </ion-icon>
                                </ion-fab-button>

                            </ion-fab-list>

                            <ion-fab-list side="end">
                                <ion-fab-button color="warning">
                                    <label for="file-input2">
                                                        <ion-icon name="document" color="light" class="document"> </ion-icon> 
                                                </label>
                                </ion-fab-button>
                            </ion-fab-list>
                        </ion-fab>


                        <input id="file-input2" class="input" type="file" (change)="Pic($event)" />
                    </div>
                </div>

                <div class="spinner" *ngIf="((uploadPercent | async ) >0 && (uploadPercent | async ) !='') || (progress>0 && progress !='')">
                    <ion-spinner name="crescent" color="success"></ion-spinner>
                </div>
                <br>
                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Name of Spaza:</ion-label>
                    <ion-input type="text" formControlName="Spaza"></ion-input>
                </ion-item>
                <div *ngIf="form.controls.Spaza.invalid && form.controls.Spaza.dirty">
                </div>
                <div class="error" *ngIf="form.get('Spaza').hasError('required') && form.get('Spaza').touched">
                    Please input your Name of your spaza
                </div>

                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Discription:</ion-label>
                    <ion-textarea type="Discription" formControlName="Discription"></ion-textarea>
                </ion-item>
                <div *ngIf="form.controls.Discription.invalid && form.controls.Discription.dirty">
                </div>
                <div class="error" *ngIf="form.get('Discription').hasError('required') && form.get('Discription').touched">
                    Please input your Discription
                </div>

                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Address:</ion-label>
                    <ion-input type="text" formControlName="Address" (ionInput)="search($event)" [value]="selectedAddress" clearInput></ion-input>
                </ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col>

                            <div style="position: absolute;width: 100%;z-index: 999; ">
                                <ion-list lines="none" *ngIf="addresses.length > 0" color="lightb" style="background: var(--ion-item-background,var(--ion-background-color, black)); ">
                                    <div *ngFor="let coodinates of coodinateses; let i=index">
                                        <ion-item *ngFor="let address of addresses [i]" (click)="onSelect(address, coodinates)" color="dark">

                                            <ion-icon name="pin"></ion-icon>
                                            <p class="searchv">{{ address}}</p>{{i}}
                                        </ion-item>
                                    </div>
                                </ion-list>


                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>


                <div *ngIf="form.controls.Address.invalid && form.controls.Address.dirty">
                </div>
                <div class="error" *ngIf="form.get('Address').hasError('required') && form.get('Address').touched">
                    Please input your Address
                </div>
                <!-- <ion-item color="transparent" class="group">
                    <ion-label position="floating">Phone Number:</ion-label>
                    <ion-input (ionInput)="search($event)" [value]="selectedAddress"></ion-input>
                </ion-item> -->
                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Open Hours:</ion-label>
                    <!-- <ion-input type="Hours" formControlName="Hours"></ion-input> -->
                    <ion-select>
                        <ion-select-option value="1">08:00-10:00</ion-select-option>
                        <ion-select-option value="2">10:00-11:00</ion-select-option>
                        <ion-select-option value="3">11:00-12:00</ion-select-option>
                        <ion-select-option value="5">12:00-13:30</ion-select-option>
                        <ion-select-option value="6">13:30-14:30</ion-select-option>
                        <ion-select-option value="7">14:30-16:00</ion-select-option>
                    </ion-select>
                </ion-item>
                <div *ngIf="form.controls.Hours.invalid && form.controls.Hours.dirty">
                </div>
                <div class="error" *ngIf="form.get('Hours').hasError('required') && form.get('Hours').touched">
                    Please input your Open Hours
                </div>

                <ion-item color="transparent" class="group">
                    <ion-label position="floating">Phone Number:</ion-label>
                    <ion-input type="Number" formControlName="Number" max="10"></ion-input>
                </ion-item>
                <div *ngIf="form.controls.Number.invalid && form.controls.Number.dirty">
                </div>
                <div class="error" *ngIf="form.get('Number').hasError('required') && form.get('Number').touched">
                    Please input your Phone Number
                </div>

                <div class="group">
                    <ion-button expand="block" color="medium" [disabled]="!form.valid" (click)="Submit()">Submit</ion-button>
                </div>
            </div>
        </div>

    </form>
    <!-- <ion-searchbar (ionInput)="search($event)" [value]="selectedAddress"></ion-searchbar> -->



    <!-- <ion-list lines="none" *ngIf="addresses.length > 0">


        <ion-item *ngFor="let album of albums | filtro: textBuscar: 'title'">

        <ion-item *ngFor="let address of addresses ">
            <ion-button </ion-button>
            <ion-label (click)="onSelect(address)">{{address}}</ion-label>
            <ion-item-option ></ion-item-option>
        </ion-item>

    </ion-list> -->
</ion-content>