<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>profile</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content fullscreen>

    <div class="forms">

        <div class="form">
            <ion-icon name="arrow-round-back" class="ico" (click)="ico()"></ion-icon>
            <br><br>
            <div *ngIf="authService.user  | async as user">
                <div class="profile-image">
                    <div *ngIf="user.photoURL =='' ">
                        <img src="/assets/img/avatar.svg">

                    </div>
                    <div *ngIf="user.photoURL !='' ">
                        <img data-src="{{user.photoURL}}" (click)="zoom(user)">
                        <!-- <div *ngIf="(uploadPercent | async ) >0 && (uploadPercent | async ) !=''"> -->

                    </div>
                    <div class="image-upload">
                        <ion-fab horizontal="center" vertical="top" class="fab">
                            <ion-fab-button color="light">
                                <ion-icon name="camera" class="input" color="medium"> </ion-icon>
                            </ion-fab-button>
                            <ion-fab-list side="start">
                                <ion-fab-button color="warning">
                                    <ion-icon name="camera" color="light" (click)="pickImage()" class="camera"> </ion-icon>
                                </ion-fab-button>

                            </ion-fab-list>

                            <ion-fab-list side="end">
                                <ion-fab-button color="warning">
                                    <label for="file-input1">
                                                        <ion-icon name="document" color="light" class="document"> </ion-icon> 
                                                </label>
                                </ion-fab-button>
                            </ion-fab-list>
                        </ion-fab>


                        <input id="file-input1" class="input" type="file" (change)="uploadProfilePic($event)" />
                    </div>
                </div>

                <div class="spinner" *ngIf="((uploadPercent | async ) >0 && (uploadPercent | async ) !='') || (progress>0 && progress !='')">
                    <ion-spinner name="crescent" color="success"></ion-spinner>
                </div>
                <br><br><br>

                <ion-item color="transparent" class="group">
                    <ion-label>Details</ion-label>
                </ion-item>
                <ion-item color="transparent" class="group">

                    <ion-label>{{user.displayName}}</ion-label>

                    <ion-icon name="person" slot="start"></ion-icon>
                    <ion-icon name="create" slot="end" (click)=" NameUpdate(user)"></ion-icon>
                </ion-item>

                <ion-item color="transparent" class="group">

                    <ion-label>{{user.Address}}</ion-label>

                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-icon name="create" slot="end" (click)="AddressUpdate(user)"></ion-icon>
                </ion-item>
                <ion-item color="transparent" class="group">
                    <ion-label>{{user.Email}}</ion-label>
                    <ion-icon name="mail" slot="start"></ion-icon>
                </ion-item>
                <ion-item color="transparent" class="group" *ngIf="user.Registered == 'no'">
                    <ion-icon name="arrow-forward" slot="end" (click)="SpazaShop()"></ion-icon>
                    <ion-label>Register SpazaShop</ion-label>
                    <ion-icon name="paper" slot="start"></ion-icon>
                </ion-item>
                <ion-item color="transparent" class="group" *ngIf="user.Registered == 'yes'">
                    <ion-icon name="arrow-forward" slot="end" (click)="SpazaShop()"></ion-icon>
                    <ion-label>Already Registered update</ion-label>
                    <ion-icon name="paper" slot="start"></ion-icon>
                </ion-item>

                <!-- <ion-button expand="full" (click)='update(user)'> Update</ion-button> -->
            </div>

        </div>
    </div>
</ion-content>